AlignAfterOpenBracket: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
ConstructorInitializerIndentWidth: 2
FixNamespaceComments: false
NamespaceIndentation: All
PackConstructorInitializers: Never
PointerAlignment: Left
SortIncludes: CaseInsensitive
